/* list楼层块 R - 用户等级 */
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-level-gw{
    display:inline-block;
    height: 21px;
    padding: 0 0 0 24px;
    overflow: hidden;
    margin: 0 5px 0 -1px;
    vertical-align: -6px;
    *vertical-align: 0px;
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-level-gw i{
    display: inline-block;
    height: 21px;
    line-height: 23px;
    padding: 0 5px 0 0;
    font-size: 12px;
}

/* 1~4级 */
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-1-gw{
background-image:url("./imgs/p-lv01.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-2-gw{
background-image:url("./imgs/p-lv02.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-3-gw{
background-image:url("./imgs/p-lv03.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-4-gw{
background-image:url("./imgs/p-lv04.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-1-4-gw{
background-position:left 0;
background-repeat:no-repeat;
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-1-4-gw i{
background-image:url("./imgs/p-lv01-04.png");
background-position:right 0;
background-repeat:no-repeat;
color:#f3981b;
}
/* 5~7级 */
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-5-gw{
background-image:url("./imgs/p-lv05.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-6-gw{
background-image:url("./imgs/p-lv06.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-7-gw{
background-image:url("./imgs/p-lv07.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-5-7-gw{
background-position:left 0;
background-repeat:no-repeat;
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-5-7-gw i{
background-image:url("./imgs/p-lv05-07.png");
background-position:right 0;
background-repeat:no-repeat;
color:#5cc1f6;
}
/* 8~10级 */
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-8-gw{
background-image:url("./imgs/p-lv08.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-9-gw{
background-image:url("./imgs/p-lv09.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-10-gw{
background-image:url("./imgs/p-lv10.png");
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-8-10-gw{
background-position:left 0;
background-repeat:no-repeat;
}
#SOHUCS #SOHU_MAIN .section-list-w .wrap-user-gw .user-8-10-gw i{
background-image:url("./imgs/p-lv08-10.png");
background-position:right 0;
background-repeat:no-repeat;
color:#f96652;
}