.module-main-test-level-3 {
    width: 100%;
    height: 800px;
    background: #F88E8B;
    color: #fff;
}
.module-main-test-level-3 h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.module-main-test-level-3 button {
    width: 100%;
    height: 200px;
    background: #ff5500;
    font-size: 32px;
    color: #fff;
    border: none;
    margin-bottom: 20px;
}